*{
  margin: 0;
}
.app {
  display: contents;
  justify-content: space-evenly;
}
.proj_header {
  display:flex;
}
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app__statsBox {
  text-align: center;
  display: grid;
  grid-gap: 10px;
}
body {
  background-color: #f5f6fa;
}
.app__content {
  display:flex;
  justify-content: space-between;
}
.left_right_side {
  display: flex;
  justify-content: space-evenly;
}

.app__lefSide {
  flex: 0.9;
}

.app__map {
  flex: 0.85;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
